*{
    margin:0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
}

footer{
    position:absolute;
    width:100vw;
    height:50%;
}

#principalFooter{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    height:60%;
    width:100vw;
}

#logoFooter{
    background-image:url(img/4cars.png);
    background-size: cover;
    width:220px;
    height:200px;
}

#linkSelection{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    height: 100%;
    width:100vw;
    font-style: italic;
}

.linkFooter{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:50px
}

.linkFooter p{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 50px;
}

.linkFooter p:hover{
    color:red;
    text-decoration: underline;
}

#redesSociais{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#redesSociais p{
    text-align: center;
    font-size: 25px;
}


#iconesSociais{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-top: 10px;
    width: 10%;
    height:10%;
}


#social1{
    background-image: url(img/twitter.png);
    background-size:cover;
    height:40px;
    width:40px;
    border-radius: 20px;
}

#social1:hover{
    opacity:0.7;
}

#social2{
    background-image: url(img/facebook.png);
    background-size: cover;
    width:50px;
    height:50px;
    border-radius: 50px; 
}

#social2:hover{
    opacity:0.7;
}

#social3{
    background-image: url(img/instagram.png);
    background-size: cover;
    width:50px;
    height:50px;
    border-radius: 30px;
}

#social3:hover{
    opacity:0.7;
}

#separacao{
    background-size: cover;
    width:100vw;
    height:0;
    border:0;
    border-bottom: 2px solid black;
}

#separacao2{
    background-size: cover;
    width:50vw;
    height:0;
    border:0;
    border-bottom: 2px solid black;
    padding-top:20px
}

#desenvolvidoPor{
    text-align: center;
    padding-top: 30px;

body{
  margin: 0;
  padding: 0;
}
/* cabeçalho */
header{
  background-color: cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 60px -16px rgb(60, 61, 61);
}
#logo{
  padding-left: 5%;
  width: 35%;
}
.menu{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.icones{
  background-color:#FF5C5C ;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  border: 1px solid #FF5C5C;
  border-radius: 10px;
}
.icones:hover{
  background-color: blanchedalmond;
}