*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Robotogit commit -m " ", sans-serif;
}

body{
  width:100%;
  height:100%;
}
/* cabeçalho */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 60px -16px rgb(60, 61, 61);
}
#logo{
  background-color: #ffff;
  padding-left: 15%;
  width: 35%;
}

#color{
  color: #FF5C5C;
}

.menu{
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.icones{
  padding: 10px;
  color: #22252c;
  text-decoration: none;
}
.icones:hover{
  font-size: 25px;
  background-color:#F5F6F8 ;
  border-bottom: 3px solid #FF5C5C;
}

/* rodape */
.icones-novo{
  height: 50%;
 display: flex;
}

.icones-novo a{
margin: 15px;
}

#footer-home{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 190px;
  background-color: #FF5C5C;
  flex-direction: column;
  align-content: stretch;
  
}

.informacoes-home{
  display: grid;
  margin-right: 70px;
  grid-template-columns: repeat(3, 400px);


}

.info-links{
  display: grid;
  cursor: pointer;

}

.text-info{
  font-size: large;
  padding: 5px;
  margin-right: 6px;
}

/* main */
#apresentacao{
  align-items: center;
  justify-content: center;
  display: flex;
}
#h1{
  text-shadow: 1px 1px 2px black;
  margin-inline: 10em;
  text-align: center;
  margin-top: -15px;
  position: absolute;
}
#carro-apresentacao{
  width: 60%;
  opacity: 20%;
}

#sobre-empresa{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#carro-sobre{
  background-color: #FF5C5C;
  width: 35%;
  margin: 7.5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-left: 3px dotted;
}
#carro-sobre:hover{
  box-shadow: #FF5C5C 0px 5px 15px;
}

#container-texto{
  padding: 10%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px solid #FF5C5C;
}
#paragrafo{
  text-align: justify;
  padding: 0.5%;
  font-size: 24px;
  font-weight: 400;
}

#link-sobre{
  font-size: 15px;
  padding-top: 5%;
  text-decoration: none;
  color: #FF5C5C;
}

#link-sobre:hover{
  font-size: 20px;
  font-weight: 900;
  border-bottom: 3px solid #000;
  
}

#img-mecanico{
  background-color: #FF5C5C;
  margin-bottom: 50px;
  border-right: 3px dotted;

}

#container-vantagens{
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: space-evenly;
}

#vantagens-titulo{
  font-size: 24px;
  font-weight: 400;
}
#vatagens-lista li{
  font-size: 18px;
  font-weight: 400;
}